  #pogrubienie_mazurek {
                font-size: 32px;
                color: #8d5ecc;
            }
            
            #pochylona_mazurek {
                font-size: 37pt;
                color: #f1c268;
            }
            
            #index_gorny_mazurek {
                font-size: 1.2cm;
                color: #a19018;
            }
            
            #index_dolny_mazurek {
                font-size: 1.9cm;
                color: rgb(61, 244, 224);
            }
            
            #mono_mazurek {
                font-size: 42px;
                color: #21e068;
            }
            
            #powiekszenie_mazurek {
                color: #5b409a;
            }
            
            #pomniejszenie_mazurek {
                color: rgb(191, 164, 54);
            }
