p{
    font-size: 10px;
}
p:first-child{
    font-size:9mm;
    font-style:italic;
}
div#pierwszy_mazurek{
    width: 756pt;
    background-color: rgb(255, 192, 203);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border: solid 7px;
    border-color: rgb(128, 0, 128);
}
#drugi_mazurek{
    width: 956pt;
    background-color:rgb(144, 238, 144);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border: solid 3px;
    border-color:rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
}
#trzeci_mazurek{
    width: 1156pt;
    background-color: rgb(173, 216, 230);
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border: solid 5px;
    border-color: rgb(0, 0, 128);
    margin-left: auto;
    margin-right: auto;
}


